@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


body{
    padding: 0;
    margin: 0;
    
}
a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #78e026;
}

@font-face {
    font-family: "Tw-Cen" ;
  
    src: url(/Site_Vila_Jaragua/Tw-Cen-MT-Condensed-Font.ttf);
}

#menu  p{
    display: inline-block;
    margin: 0  50px 0 20px;
    font-family: 'Cinzel', serif;
    color: #FFFFFF;
    font-size: 20px;
    
    
}

a:hover{
    color: #78e026;
}

#menu{
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31 );

}

#vila{
    margin: 0;
    font-size: 40px;
    font-family: 'Comforter', cursive;
    color: #78e026;
  
}

#jaragua{
    font-family: 'Zen Loop', cursive;
    margin: 0;
    padding-left: 4px;
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
}

#login{
        
    float: inline-end;    
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: #D9D9D9;
  
}

#login-text{

    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
    color: rgba(0,0,0,1)
}
content p{
    font-family: 'Lustria', serif ;
    font-size: 1.2rem;
}

iframe{
    margin-top: 7%;
    width: 44%;
    margin-left: 16.5%;
}

#mapa{
    
    display: flex;
    
}
#texto{
    margin-top: 7%;
    margin-left: 3%;
    width: 13%;
    background-color: #A8CB8D;
    box-shadow: 20px 10px #BFBFBF;
    
}

#texto h2{
    font-family: Tw-Cen;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 0;
}

#texto p{
    
    padding: 10px ;
}

#legenda{
    width: 80%;
    margin: 4% auto 4% auto;

}

#legenda p{
    text-align: center;
    
    margin-top:4%;

}

.titulo{
    margin-left: 3%;
    font-family: Tw-Cen;
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: 0;

    
}
.linha{
    margin-left: 3%;
    width: 40%;
    height: 3px;
    background-color: #000;
   margin-bottom: 2%;
}
#text-CPTM {
    margin: 3%;


}

#video iframe{
    width: 40% ;
    margin: 0 0 3% 30%;
    
}

#container{
    display: flex;
    margin-bottom: 5%;
    
}

#container img{
    width: 40%;
    margin-left:auto;
    margin-right: 3%;
    
}

#container-text{
    width: 30%;
    margin-right: auto;
}

.icone{
    display: inline-block;
    width: 10%;
    margin: 3% 10% 0 10%;
    align-items: center;
 
    
}
.legenda{
    display: inline-block;
    width: 10%;
    margin: 0 10% 0 10%;
    
}

#info{
    align-items: center;
    text-align: center;
}


footer img{
    display: inline-block;
    width: 20px;
}
footer p{
    font-size: 1rem;
    display: inline-block;
   
}



footer div{
    width: 50%;
}

footer{
    font-family: 'Lustria', serif;  
    text-align: center;
    margin-top: 7%;
    color:#FFFFFF;
    background-color: #132307;
    display: flex;
}   

